# Django core
Django==5.1.7
gunicorn==23.0.0
whitenoise==6.9.0

# Database
mysqlclient==2.2.7

# Music & API
spotipy==2.25.1
pydub==0.25.1
requests==2.32.3

# Optional: Environment variables
python-dotenv==1.0.1
